<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" /> <!-- Honour Terry Pratchett http://www.gnuterrypratchett.com/#HTML -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mgranbois">
    {% if page.title %} 
      <meta name="twitter:title" content="{{ page.title }}" />
      <meta property="og:title" content="{{ page.title }}"/>
    {% else %}
      <meta name="twitter:title" content="{{ site.name }}"/>
      <meta property="og:title" content="{{ site.name }}"/>
    {% endif %}
    {% if page.desc %}
     <meta name="twitter:description" content="{{ page.desc }}" />
     <meta property="og:description" content="{{ page.desc }}"/>
    {% else %}
     <meta name="twitter:description" content="{{ site.description }}" />
     <meta property="og:description" content="{{ site.description }}"/>
    {% endif %}
    <meta name="twitter:image" content="https://monicagranbois.com/favicon.png"/>
    <meta property="og:image" content="https://monicagranbois.com/favicon.png"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% feed_meta %}
    {% if page.title %} 
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.name }}</title>
    {% endif %}

    {% if page.desc %}
      <meta name="description" content="{{ page.desc }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}" />
    {% endif %}

      <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/spacelab/bootstrap.min.css" integrity="sha384-F1AY0h4TrtJ8OCUQYOzhcFzUTxSOxuaaJ4BeagvyQL8N9mE4hrXjdDsNx249NpEc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">{{ site.navbar_brand }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/about/">About</a>
            <a class="nav-item nav-link" href="/portfolio/">Projects</a>
            <a class="nav-item nav-link" href="/feed.xml">RSS</a>
          </div>
        </div>
      </nav>
  </header>

