<div class="related-posts">
	{% unless page.category == null %}
		{% capture pageCategory %}{{ page.category }}{% endcapture %}
		{% unless site.categories[pageCategory].size == 1 %}
			<p class="font-weight-bold text-left mb-2">Other {{ pageCategory | capitalize }} Posts</p>
			<ul>
				{% for post in site.categories[pageCategory] %}
					{% unless post.title == page.title  %}
						<li><a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endunless %}
				{% endfor %}
			</ul>
		{% endunless %}
	{% endunless %}
</div>
